.body-container{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px); 
}
.main-header{
    position: relative;
}
#toggleButton{
    position: absolute;
    top: 12px;;
    left: 0;
    display: none;
}
.main-content{
    flex-grow: 1;
    width: 50%;
    overflow-y: scroll;
}
.sidebarA{
    width:25%;
    background-color: rgb(226, 221, 231);
}
.sidebarB{
    width: 25%;
    background-color: rgb(226, 221, 231);
}
/* Hide the sidebars on small screens */
@media (max-width: 768px) {
    .body-container {
      flex-direction: column;
    }
  
    .sidebarA {
      display: none;
    }
    .sidebarB{
        display: none;
    }
  
    .main-content {
      width: 100%;
    }
    #toggleButton{
        display: block;
    }
  }