.login{
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}
.login-container{
    width: 70%;
    min-width: 200px;
    height: 95% ;
    display: flex;
    flex-wrap: wrap;
}
.login-left,.login-right{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
@media only screen and (max-width:800px) {
    .login-container{
        display: flex;
        flex-direction: column;
    }
    .login-left{
        flex: 1;
        
    }
    .login-right{
        flex: 11;
    }
    .login-box{
        height: 100% !important;
    }
}
.login-left >h2{
    font-size: 50px;
    font-weight: 800;
    color: rgb(156, 86, 222);
    text-shadow: -2px -2px black;
    margin-bottom: 3px;
}
.login-left >span{
    font-size: 24px;
}
.login-box{
    height: 80% !important;
    background-color:  rgba(185, 144, 222, 0.874);
    padding: 30px;
    box-shadow: -2px 4px 5px gray;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}
.login-box >input{
    margin: 2px;
    padding: 10px;
    border: none;
    background-color:  rgba(218, 211, 224, 0.154);
    color: white;
    font-size: 19px;
    border-bottom: 2px solid rgb(138, 222, 196);
    outline: none;
}
.login-box >span{
    margin-left: 5px;
    font-weight: 500;
}
.login-button,.new-account{
    margin: 2px;
    color: white;
    padding: 10px;
    border: none;
    font-size: 17px;
    border-radius: 18px;
    cursor: pointer;
}
::placeholder{
    color: rgb(243, 243, 243);
}
.login-button{
    background-color:rgba(58, 58, 245, 0.888) !important;
}
.login-button:hover{
    background-color: rgb(41, 97, 165) !important ;
}
.new-account{
    background-color: green !important;
}
.new-account:hover{
    background-color: rgba(4, 104, 61, 0.888) !important;
}
.errorMsg{
    margin: 0 5px 0 5px;
    padding: 3px;
    background-color: white;
    color: red;
    border-radius: 2px;
    display: flex;
    justify-content: center;
}
.noError{
    visibility: hidden;
}