.profile{
    display: flex;
    width: 100%;
    height: calc(100vh - 50px); 
}
.leftSidebar{
    width: 35%;
}
.profileFeed{
    width: 70%;
}
.rightSidebar{
    width: 30%;
}
@media (max-width:768px){
    .leftSidebar{
        display: none;
    }
    .profile-right{
        width: 100%;
    }
    .profile-right-bottom{
        display: flex;
        flex-direction: column-reverse;
        
    }
    .profileFeed{
        width: 100%;
    }
    .rightSidebar{
        width: 100%;
        padding: 0px 10px;
    }
}
.profile-right{
    /* flex: 9; */
    width: 100%;
    flex-grow: 1;
    overflow-y: scroll;
    overflow-x: hidden;
}
.profile-right >hr{
    margin:5px 20px 0 20px;
    opacity: 0.3;
}
.profile-right-top{
    width: 100%;
    padding: 12px;
    position: relative;
}

.profile-photo-container{
    height: 320px;
    width: 100%;
}
.cover-photo{
    border-radius: 0;
    width: 100%;
    height: 80%;
    object-fit: cover;
}
.top-center-items{
    padding: 10px;
    width: 50%;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.top-center-items >h4{
    padding: 4px;
    font-size: 20px;
}
.top-center-items >p{
    font-size: 17px;
    font-weight: 100;
}
.profile-photo{
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 3px solid rgb(205, 200, 200);
}
.profile-right-bottom{
    display: flex;
}
.profile-buttons{
    display: flex;
    justify-content: center;
}
.profile-buttons >button{
    background-color: blue;
    padding: 7px;
    font-size: 15px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 5px;
}
